
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

h1 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.select,
.input,
.button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.input-range {
  width: 100%;
  margin-bottom: 10px;
}

.button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 5px;
}

.button:hover {
  background-color: #0056b3;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 15px 8px;
  text-align: left;
  overflow-wrap: break-word;
  white-space: normal;
}

table th {
  background-color: #f2f2f2;
  color: #333;
}


th:nth-child(1) {
  width: 5%;
}
th:nth-child(2) {
  width: 20%;
}
th:nth-child(3) {
  width: 20%;
}
th:nth-child(5) {
  width: 10%;
}

.loading {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  color: #555;
}
